*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;

}
body{
    
    background: url(https://source.unsplash.com/1600x900/);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
}

.container{
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 12px 0px #979393cc;
}
.background{
    padding: 40px;
}
.nav-tab{
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.nav-tab::after{
    content: "";
    width: 100%;
    height: 1px;
    background: #eee;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

}
.nav-tab .active{
    color: #e0c04d;
    position: relative;
}
.active::before{
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(45deg, #884747, #e0c04d);
    bottom: -10px;
    right: 0;
    position: absolute;
    display: block;
    z-index: 10;
}
.nav-tab button{
    font-size: 20px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    margin: 20px 15px;
    transition: all .4s;
    cursor: pointer;
}
.nav-tab button:hover{
    color: #e0c04d;
}

.tab-content{
    text-align: center;
}
.tab-item{
    display: none;
}
.tab-item.show{
    display: block;
}
.tab__detail input{
    padding: 10px 15px;
    font-size: 17px;
    border: none;
    outline: none;
    border-bottom: 1px solid #eee;
    margin: 50px 30px 0 0;
    transition: all .5s;
}
.tab__detail input:focus{
    border-bottom: 1px solid #e0c04d;
}

.tab-item button{
    margin: 30px 0;
    padding: 15px 30px;
    font-size: 20px;
    background-image: linear-gradient(-135deg, #884747, #e0c04d, #884747, #e0c04d);
    border: none;
    border-radius: 30px;
    transition: all .5s;
    background-size: 300%;
    color: white;
    font-weight: 300;
    cursor: pointer;
}
.tab-item button:hover{
    background-position: right center;
}
.tab-result{
    background-color: rgb(245, 156, 140);
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    border: 1px solid tomato;
    border-radius: 5px;
    text-align: left;
    display: none;
}
.tab-item h3{
    margin-bottom: 20px;
}
#btnDienTich{
    margin-left: 20px;
}
.detail__b2 input{
    width: 15%;
}